ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
}

body{
	background: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/perfume-bottle-with-aromatic-floral-scent-luxury-fragrance-anne-leven.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.wrapper{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	letter-spacing: 2px;
}

.wrapper h1{
	margin-bottom: 40px;
	font-size: 42px;
	color: #47032b;
	text-shadow: 2px 2px #ff0000;
}

.wrapper p{
	margin-bottom: 40px;
	color: #080808;
	font-size: 20px;
}

.newsletter{
	max-width: 550px;
	width: 100%;
	position: relative;
}

.newsletter .input{
	width: 100%;
	padding: 30px 100px 30px 60px;
	border-radius: 5px;
	border: none;
	font-weight: bold;
}

.newsletter .fas{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
	font-size: 20px;
}

.newsletter .btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 30px;
	background: #d1333b;
	padding: 15px 20px;
	border-radius: 25px;
	font-size: 12px;
	letter-spacing: 5px;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
}
